.api-panel {
  position: absolute;
  width: 1540px;
  min-height: 943px;
  background-color: var(--mint-cream);
}

.api-cards {
  position: relative; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  max-width: 1000px;
  margin-bottom: 150px;
  margin-top: -700px;
  left: 80px;
}

.api-flex-cards{
  display: flex;
  flex-direction: column;
  gap: 10px;      
}
.upload{
  width: 800px;
  height: 400px;
  /* border: 2px solid var(--midtone-gray); */
  box-shadow: 0 15px 80px var(--coal);  
  border-radius: 20px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container {
  width: 180px;
  height: 100px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.upload-container:hover {
  border-color: var(--crimson-blue);
}

.upload-label {
  font-size: 16px;
  color: var(--black);
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.upload-input {
  display: none;
}

.try-again-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--super-blue);
  border-radius: 10px;
  width: 180px;
  height: 41px;
  margin: 20px 0 10px auto;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;

}

.analyse-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--super-blue);
  border-radius: 10px;
  width: 216px;
  height: 41px;
  margin: 20px auto;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;

}

.analyse-button:hover , .try-again-button:hover {
  background-color: #3B4A8C;
  border: 1px solid #9747FF;
  box-shadow: 0px 0px 15px 3px rgba(197, 18, 11, 0.6);
}

.analyse-button-text , .try-again-button-text{
  font-weight: 700;
  font-size: 20px;
  color: var(--mint-cream);
}

.output-container {
  width: 1000px;
  min-height: 500px; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 35px;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .api-admin-panel {
    position: relative; 
    width: 100%;       
    height: auto;      
    padding: 20px;
  }

  .api-cards {
    position: relative; 
    display: flex;
    flex-direction: column; 
    gap: 20px;              
    max-width: 100%;        
    left: 0;                
    top: 0; 
    margin: 80px 50px;

  }
}

@media only screen and (max-width: 768px) {
  .api-admin-panel {
    position: relative; 
    width: 100%;        
    height: auto;       
    min-height: auto;
    padding: 10px;
    overflow-x: hidden; 
  }

  .api-cards {
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: 20px;              
    width: 100%;            
    max-width: 100%;
    left: 0;               
    top: 0;   
    margin: 60px auto 0;   
  }

  .api-flex-cards {
    width: 100%;
    height: auto;
    max-width: 90%;       
    margin-top: 80px;
  }

  .upload {
    width: 90%;         
    max-width: 100%;
    height: auto;     
    padding: 20px; 
    margin: 0px 20px;
  }

  .upload-container {
    width: 55%;
    height: 180px;
  }

  .try-again-button,
  .analyse-button {
    width: 140px;
    height: 36px;
    font-size: 16px;
    margin: 10px auto;
  }

  .analyse-button-text,
  .try-again-button-text {
    font-size: 16px;
  }
}

