.user-info {
  position: relative;
  width: 250px;
  height: 848px;
  left: 1160px;
  top:120px;
}
.user-side-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 21px;
  width: 280px;
  height: 648px; 
  background: var(--coal);
  border-radius: 15px;
}

.user-image {
  width: 280px;
  height: 270px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  flex-shrink: 0;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 265px;
  height: 350px;       
  overflow-y: auto;
}

.user-details-text {
  width: 100%;
  font-weight: 650;
  font-size: 22px;
  line-height: 25px;
  text-align: left;
  color: var(--white);
  word-wrap: break-word;
  white-space: normal;
  box-sizing: border-box;
  padding: 0 8px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 280px;
  height: 100px;
  margin: 4px 0px;
}

.tab {
  position: relative;
  width: 70%;
  height: 45px;
  cursor: pointer;
  overflow: visible;
  align-self: center;
}

.tab-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;   
  justify-content: center;
  height: 100%;
  width: 100%;
}

.tab-label {
  font-weight: 600;
  font-size: 20px;
  color: var(--super-blue);
}

.tab .tab-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  box-sizing: border-box;
  border: 2px solid var(--super-blue);
  border-radius: 10px;
  transition: background 0.3s ease, color 0.3s ease;
}

.tab:hover .tab-bg {
  background-color: var(--super-blue);
}

.tab:hover .tab-label {
  color: var(--black);
}

@media (max-width: 1200px) {
  .user-info {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
  
  .user-side-card {
    width: 90%;
    height: auto;
  }
  
  .user-image {
    width: 100%;
    height: auto;
    padding-top: 90%; 
  }
  
  .user-details {
    width: 80%;
    height: auto;
  }
  
  .user-details-text {
    font-size: 18px;
  }
  
  .buttons {
    width: 90%;
    height: auto;
  }
  .tab {
    height: 50px;
  }
  
  .tab .tab-label {
    font-size: 18px;
  }
  
  .exit-text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .user-info {
    position: relative;
    width: 100%;
    max-width: 380px;
    height: auto;
    left: 65%;
    transform: translateX(-50%);
    margin-top: 10px;
  }
  .user-side-card {
    width: 60%;
    height: auto;
  }
  .user-details-text {
    font-size: 16px;
  }
  
  .tab .tab-label {
    font-size: 16px;
  }
  
}
